option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-,subnet-
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: true