files:
  "/root/supervisord.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [unix_http_server]
        file=/tmp/supervisor.sock   ; (the path to the socket file)

        [supervisord]
        logfile=/tmp/supervisord.log ; (main log file;default $CWD/supervisord.log)
        logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
        logfile_backups=10           ; (num of main logfile rotation backups;default 10)
        loglevel=info                ; (log level;default info; others: debug,warn,trace)
        pidfile=/tmp/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
        nodaemon=false               ; (start in foreground if true;default false)
        minfds=1024                  ; (min. avail startup file descriptors;default 1024)
        minprocs=200                 ; (min. avail process descriptors;default 200)

        [rpcinterface:supervisor]
        supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

        [supervisorctl]
        serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket

        [include]
        files = /usr/local/etc/*.conf

        [program:laravel-worker]
        process_name=%(program_name)s_%(process_num)02d
        command=php /var/www/html/artisan queue:work --sleep=3 --tries=3
        autostart=true
        autorestart=true
        user=ec2-user
        numprocs=8
        redirect_stderr=true
        stdout_logfile=/tmp/worker.log

        [inet_http_server]
        port = 127.0.0.1:9001

container_commands:
  01:
    command: |
      echo "01"
      mv /root/supervisord.conf /var/proxy/staging/nginx/conf.d/elasticbeanstalk/supervisord.conf
