container_commands:
  001-enableroot:
    command: echo Defaults:root \!requiretty >> /etc/sudoers #disables error related to needing a tty for sudo, allows running without cli
  004-makeExecutable:
    command: chmod +x .ebextensions/workerDeploy.sh
  005-workerDeploy:
    command: .ebextensions/workerDeploy.sh #check for env variable and install/start supervisord